---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Fast Freight. On Time. Every Time.

We’re a small, dedicated trucking company built on reliability, efficiency, and personalized service. We specialize in safe and timely freight transportation across local and regional routes. 
Whether it's a single pallet or a full truckload, we treat every haul with the care and professionalism our customers deserve. When you partner with us, you’re not just moving freight, you’re gaining a trusted logistics ally.
`;
---

<Layout title="Making Moves Logistics Services.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Making Moves Logistics Services</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
</Layout>
